* {
  transition: background-color .3s, color .3s;

  /* Default Colours */
  --black: rgb(0, 0, 0);
  --almost-black: rgb(8, 8, 8);
  --gray: rgb(180, 180, 180);
  --dark-gray: rgb(32, 32, 32);
  --white: rgb(255, 255, 255);
  --green: rgb(102, 169, 26);
  --dark-green: #33691E;
  --green-light: rgb(219, 247, 188);

  --blue-light: rgb(227, 242, 253);
  --blue-lighter: rgb(100, 181, 246);
  --blue: rgb(33, 150, 243);
  --blue-dark: rgb(13, 71, 161);

  --red: rgb(229, 57, 53);

  /* Footer */
  --footer-background: var(--almost-black);
  --footer-text: var(--white);

  /* Test Colour */
  --test: pink;
}