.day {
  /* Default Styles */
  --body-background: rgb(250, 250, 250);
  --background: rgb(255, 255, 255);
  --background-secondary: rgb(246, 246, 246);
  --text: rgb(32, 32, 32);

  /* Photo */
  --photo-background: var(--almost-black);

  /* Header */
  --header-border: rgba(0, 0, 0, 0.05);
  --header-background: rgba(255, 255, 255, 0.8);
  --header-hover: rgba(0, 0, 0, 0.1);
  --header-image-filter: invert(0%);

  /* Shadow */
  --card-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px;
  --card-shadow-flat: rgba(100, 100, 111, 0.0) 0 0 0;
  --card-border: 1px solid rgba(0, 0, 0, 0);

  /* Rating */
  --circle-empty: rgba(0, 0, 0, 0.1);
  --circle-filled: rgba(255, 165, 255, 0.7);
  --circle-half-filled: rgba(255, 165, 255, 0.3);
  --circle-user-filled: orange;
  --circle-average: rgba(0, 0, 0, 0.7);
  --circle-half-average: rgba(0, 0, 0, 0.1);

  /* Dropdown */
  --dropdown-background: rgba(255, 255, 255, 1);
  --dropdown-hover: rgba(0, 0, 0, 0.1);

  /* Progress */
  --progress-color: rgb(32, 135, 32);

  /* Skeleton */
  --skeleton-background: rgb(230, 230, 230);
  --skeleton-background-tinted: rgb(240, 240, 240);
}