:root {
  --components-size: 1.1rem;
}

.rating {
  height: var(--components-size);
  width: calc(var(--components-size) + 2px);

  cursor: pointer;

  display: flex;

  .rating_circle {
    display: inline-block;
    top: 0;
    height: var(--components-size);
    width: var(--components-size);
    border-radius: 10px;

    background: var(--circle-empty);
  }
}

.hovered .rating_circle {
  background: var(--circle-user-filled) !important;
}

.rating_number {
  padding-left: 8px;
  color: var(--gray);
}