:root {
  --components-size: 1.1rem;
}

.rating {
  height: var(--components-size);
  width: calc(var(--components-size) + 2px);

  cursor: pointer;

  .rating_circle {
    display: inline-block;
    top: 0;
    height: var(--components-size);
    width: var(--components-size);
    border-radius: 10px;

    background: rgba(0, 0, 0, 0.1);
  }
}

.hovered .rating_circle {
  background: orange !important;
}

.rating_number {
  padding-left: 8px;
  color: rgba(0, 0, 0, 0.5);
}