.header {
  width: 100%;
  background-color: #fff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px;

  a {
    text-decoration: none;

    &:visited,
    &:link {
      color: black;
    }
  }

  .logo {
    display: inline-block;
    font-family: 'KyivRegion';
    color: rgb(3, 63, 3);
    font-size: 2rem;
    vertical-align: center;
  }

  .categories,
  .social {
    display: inline-block;

    ul {
      padding: 0;
      margin: 0;
    }

    li {
      display: inline-block;
      padding: 16px 24px;
      text-transform: uppercase;
      font-weight: 600;
      text-decoration: none;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.desktop_nav,
.mobile_nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mobile_nav {
  display: none;

  .mobile_header {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
}

.popup_header {
  display: block;

  .categories,
  .social {
    display: block;

    ul {
      padding: 0;
      margin: 0;
    }

    li {
      display: block;
      padding: 16px 24px;
      text-transform: uppercase;
      font-weight: 600;
      text-decoration: none;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .header {
    position: fixed;
    top: 0;
    z-index: 9999;
  }

  .desktop_nav {
    display: none;
  }

  .mobile_nav {
    display: flex;
  }
}

@media screen and (min-width: 769px) {
  .popup_header {
    display: none;
  }
}

.gone {
  display: none !important;
}