.header {
  width: 100%;
  position: fixed;
  top: 16px;
  left: 50%;
  z-index: 9000;
  display: flex;
  justify-content: center;

  &__nav {
    width: 769px;
    padding: 0 28px;
    border-radius: 32px;
    box-sizing: border-box;
    background-color: var(--header-background);
    backdrop-filter: saturate(180%) blur(20px);
    border: 1px solid var(--header-border);

    a {
      text-decoration: none;

      &:visited,
      &:link {
        color: var(--text);
      }
    }

    &--desktop,
    &--mobile {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &--mobile {
      display: none;

      &__content {
        width: 100%;
        display: flex;
        justify-content: flex-end;

        img {
          filter: var(--header-image-filter);
        }
      }
    }

    &--popup {
      display: block;

      .header__categories {
        display: block;

        ul {
          margin: 0;
          padding: 0;
        }

        li {
          display: block;
        }
      }
    }
  }

  &__categories {
    display: inline-block;

    ul {
      margin: 0;
      padding: 0;
    }

    li {
      display: inline-block;
      padding: 16px;
      text-transform: uppercase;
      font-weight: 700;
      cursor: pointer;
      border-radius: 32px;

      &:hover {
        background-color: var(--header-hover);
      }
    }

    img {
      filter: var(--header-image-filter);
    }
  }

  &__logo {
    display: inline-block;
    font-family: 'KyivRegion';
    font-size: 2rem;
    padding: 18px 0 14px;
    vertical-align: middle;
  }

  &__theme {
    display: inline-block;
    padding: 16px;
    cursor: pointer;
    border-radius: 32px;

    &:hover {
      background-color: var(--header-hover);
    }

    img {
      filter: var(--header-image-filter);
    }
  }
}

@media screen and (max-width: 768px) {
  .header {
    padding: 0;
    top: 0;

    &__nav {
      width: 100%;
      border-radius: 0;
      padding: 32px 32px 16px;

      &--desktop {
        display: none;
      }

      &--mobile {
        display: flex;
      }
    }
  }
}

@media screen and (min-width: 769px) {
  .header__nav--popup {
    display: none;
  }
}

.gone {
  display: none !important;
}