.header_container {
  width: 100%;
  position: fixed;
  z-index: 9999;
  top: 16px;

  left: 50%;
  transform: translateX(-50%);
}

.header {
  width: 100%;
  max-width: 1200px;

  background-color: var(--header-background);
  backdrop-filter: saturate(180%) blur(20px);
  border: 1px solid var(--header-border);

  padding: 0 28px;
  border-radius: 32px;

  box-sizing: border-box;

  a {
    text-decoration: none;

    &:visited,
    &:link {
      color: var(--text);
    }
  }

  .logo {
    display: inline-block;
    font-family: 'KyivRegion';
    color: var(--green);
    font-size: 2rem;
    vertical-align: center;

    padding: 18px 0 14px 0;
  }

  .categories,
  .social {
    display: inline-block;

    ul {
      padding: 0;
      margin: 0;
    }

    li {
      display: inline-block;
      padding: 16px 16px;
      text-transform: uppercase;
      font-weight: 700;
      cursor: pointer;
      border-radius: 32px;

      &:hover {
        background-color: var(--header-hover);
      }
    }
  }
}

.desktop_nav,
.mobile_nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mobile_nav {
  display: none;

  .mobile_header {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
}

.popup_header {
  display: block;

  .categories,
  .social {
    display: block;

    ul {
      padding: 0;
      margin: 0;
    }

    li {
      display: block;
    }
  }
}

@media screen and (max-width: 768px) {
  .desktop_nav {
    display: none;
  }

  .mobile_nav {
    display: flex;
  }
}

@media screen and (min-width: 769px) {
  .popup_header {
    display: none;
  }
}

.gone {
  display: none !important;
}