@font-face {
  font-family: 'KyivRegion';
  src: url('./assets/fonts/KyivRegion-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'e-Ukraine Light';
  src: url('./assets/fonts/e-ukraine-light_w.ttf') format('truetype');
}

@font-face {
  font-family: 'e-Ukraine Head Light';
  src: url('./assets/fonts/e-ukrainehead-light_w.ttf') format('truetype');
}

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

body {
  margin: 0;
  font-family: 'Nunito';
}

.main_container {
  padding-top: 120px;
}

.main_colors {
  background-color: var(--body-background);
  color: var(--text);
}

.container {
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;

  box-sizing: border-box;

  padding: 16px;
}