@font-face {
  font-family: 'KyivRegion';
  src: url('./fonts/KyivRegion-Regular.ttf') format('truetype');
}

body {
  margin: 0;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}