.progress {
  width: 100%;
  height: 4px;
  position: fixed;
  z-index: 10000;

  overflow: hidden;

  background-color: var(--background);

  top: 0;

  &__bar {
    height: 100%;
    background-color: var(--progress-color);
    transform-origin: left;
  }
}
