:root {
  --gap-s: 16px;
  --gap-m: 2%;
  --gap-l: 2%;
  --gap-xl: 2%;
}

.photo_grid {
  display: flex;
  flex-wrap: wrap;
}

.photo {
  width: 19%;
  padding-top: 19%;
  position: relative;
  overflow: hidden;
  box-shadow: none;

  transition: scale .3s, box-shadow .3s;

  &--skeleton {
    width: 19%;
    padding-top: 19%;

    background-color: var(--skeleton-background);
  }

  &:hover {
    scale: 1.05;
    box-shadow: var(--card-shadow);

    .photo__details {
      opacity: 1;
    }
  }

  &__details {
    position: absolute;
    bottom: 0;
    left: 0;

    padding: 16px;

    width: 100%;

    box-sizing: border-box;

    background-color: var(--photo-grid-details-background);
    color: var(--photo-grid-details-color);
    font-family: 'e-Ukraine Head Light';

    opacity: 0;
    transition: opacity .3s;
  }
}

@media screen and (min-width: 1200px) {
  .photo_grid {
    gap: var(--gap-xl);
  }

  .photo {
    width: 32%;
    padding-top: 32%;

    margin-bottom: var(--gap-xl);

    &--skeleton {
      width: 32%;
      padding-top: 32%;

      margin-bottom: var(--gap-xl);
    }
  }
}

@media screen and (max-width: 1200px) {
  .photo_grid {
    gap: var(--gap-l);
  }

  .photo {
    width: 32%;
    padding-top: 32%;

    margin-bottom: var(--gap-l);

    &--skeleton {
      width: 32%;
      padding-top: 32%;

      margin-bottom: var(--gap-l);
    }
  }
}

@media screen and (max-width: 768px) {
  .photo_grid {
    gap: var(--gap-m);
  }

  .photo {
    width: 49%;
    padding-top: 49%;

    margin-bottom: var(--gap-m);

    &--skeleton {
      width: 49%;
      padding-top: 49%;

      margin-bottom: var(--gap-m);
    }
  }
}

@media screen and (max-width: 480px) {
  .photo {
    width: 100%;
    padding-top: 100%;

    margin-bottom: var(--gap-s);

    &--skeleton {
      width: 100%;
      padding-top: 100%;

      margin-bottom: var(--gap-s);
    }
  }
}



.photo img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  width: 100%;
  height: 100%;
  object-fit: cover;
}